<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Trang chủ</title>
<!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="./static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="./static/assets/css/templatemo-lava.css">

    <link rel="stylesheet" href="./static/assets/css/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            Javis
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="menu-item">Trang chủ</a></li>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Face Recognition</a>
                                <ul>
                                    <li><a href="/uploader" class="menu-item">Tải ảnh lên</a></li>
                                    <li><a href="/take_shots" class="menu-item">Chụp ảnh</a></li>
                                    <li><a href="/live_demo" class="menu-item">Live demo</a></li>
                                    <li><a href="/result" class="menu-item">Kết quả</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Face Recognition with <em>AI</em></h1>
                        <p>Nghiên cứu và xây dựng ứng dụng nhận dạng khuôn mặt bằng camera vào hệ thống nhà thông minh sử dụng <a href="https://www.home-assistant.io/">Home Assistant</a>.</p> 
                        <a href="#about" class="main-button-slider">Let's start</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>01</h2>
                            <img src="./static/assets/images/features-icon-1.png" alt="">
                            <h4>Upload to Database</h4>
                            <p>Tải lên hình ảnh có khuôn mặt mà bạn cần nhận dạng. Ảnh sẽ được lưu lại trong bộ điều khiển trung tâm.<br>Xin lưu ý:<br> Để đảm bảo đạt được độ chính xác cao nhất, bạn cần tải lên ảnh từ camera có cùng độ phân giải.</p>
                            <a href="/uploader" class="main-button">
                                Tải ảnh lên
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>02</h2>
                            <img src="./static/assets/images/features-icon-2.png" alt="">
                            <h4>Take a shot</h4>
                            <p>Chụp ảnh từ camera. Ảnh sẽ được lưu lại trong bộ điều khiển trung tâm. <br>Xin lưu ý <br>Để đạt được độ chính xác cao nhất, bạn cần chụp ảnh từ cùng 1 camera với khi nhận dạng hoặc từ camera có cùng độ phân giải.</p>
                            <a href="#testimonials" class="main-button">
                                Chụp ảnh
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>03</h2>
                            <img src="./static/assets/images/features-icon-3.png" alt="">
                            <h4>Contact us</h4>
                            <p>Chúng tôi rất mong nhận được những góp ý của bạn để cải thiện sản phẩm này.<br>Đừng ngần ngại gửi phản hồi cho chúng tôi. Những góp ý của bạn là động lực để chúng tôi phục vụ bạn ngày càng tốt hơn.</p>
                            <a href="#testimonials" class="main-button">
                                Để lại lời nhắn
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>More About <em>Javis</em></h2>
                        <p>Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor. Duis at finibus odio.
                            Vivamus ut pharetra arcu, in porta metus. Suspendisse blandit pulvinar ligula ut elementum.
                            <br><br>If you need this contact form to send email to your inbox, you may follow our <a
                                rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> page
                            for more detail.</p>
                        <ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2020 Lava Landing Page

                        | Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="./static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="./static/assets/js/popper.js"></script>
    <script src="./static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="./static/assets/js/owl-carousel.js"></script>
    <script src="./static/assets/js/scrollreveal.min.js"></script>
    <script src="./static/assets/js/waypoints.min.js"></script>
    <script src="./static/assets/js/jquery.counterup.min.js"></script>
    <script src="./static/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="./static/assets/js/custom.js"></script>

</body>
</html>