<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="TemplateMo">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <title>Tải ảnh lên</title>
        <!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="./static/assets/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="./static/assets/css/font-awesome.css">

        <link rel="stylesheet" href="./static/assets/css/templatemo-lava.css">

        <link rel="stylesheet" href="./static/assets/css/owl-carousel.css">

    </head>

    <body>

        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->


        <!-- ***** Header Area Start ***** -->
        {%block content%}
        {%include 'header_footer/header.html' %}
        {%endblock%}
        <!-- ***** Header Area End ***** -->


        <!-- ***** Welcome Area Start ***** -->
        <div class="welcome-area" id="welcome">

            <!-- ***** Header Text Start ***** -->
            <div class="header-text">
                <div class="container">
                    <div class="row">
                        <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                            <h1>Upload your images</h1>
                            <p>Tải lên một hoặc nhiều ảnh của cùng một người.</p>
                            <form action="/uploader" method="POST" enctype="multipart/form-data">
                                <input class="btn main-button-slider" type="file" name="file[]" multiple="" />

                                <table style="margin-top: 10px;" class="table table-borderless">
                                    <tr>
                                        <td>
                                            Tên:
                                        </td>
                                        <td>
                                            <input name="name" placeholder="Ví dụ: nguyen_van_a" class="form-control">
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                {% if action == 'uploaded' %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    Đã tải lên ảnh của "{{name}}"
                                </div>
                                {% endif%}
                                <input class="btn btn-warning main-button-slider" type="submit" value="Gửi lên" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Header Text End ***** -->
        </div>
        <!-- ***** Welcome Area End ***** -->

        <!-- ***** Header Area Start ***** -->
        {%block footer%}
        {%include 'header_footer/footer.html' %}
        {%endblock%}
        <!-- ***** Header Area End ***** -->
        <!-- jQuery -->
        <script src="./static/assets/js/jquery-2.1.0.min.js"></script>

        <!-- Bootstrap -->
        <script src="./static/assets/js/popper.js"></script>
        <script src="./static/assets/js/bootstrap.min.js"></script>

        <!-- Plugins -->
        <script src="./static/assets/js/owl-carousel.js"></script>
        <script src="./static/assets/js/scrollreveal.min.js"></script>
        <script src="./static/assets/js/waypoints.min.js"></script>
        <script src="./static/assets/js/jquery.counterup.min.js"></script>
        <script src="./static/assets/js/imgfix.min.js"></script>

        <!-- Global Init -->
        <script src="./static/assets/js/custom.js"></script>

    </body>

</html>
